.main-profile {
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
}

.main-profile > .profile-picture {
	width: 200px;
}

.twitter,
.youtube,
.facebook {
	text-decoration: none;
	color: #05004e;
	margin: 2px;
}

.profile-compare {
	color: #05004e;
}

.stats {

}