.main-profile {
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
}

.main-profile > .profile-picture {
	width: 200px;
}

.twitter,
.youtube,
.facebook {
	transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
	text-decoration: none;
	color: #05004e;
	margin: 5px;
}

.LeaderBoard > .MemberContainer > div > .name {
	color: #f6f6f6;
}

.twitter:hover,
.youtube:hover,
.facebook:hover {
	color: #0f4471;
}

.profile-compare {
	color: #05004e;
}

.add-member-following {
	transition-property: background, border-radius, color, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background: #ffffff;
	color: #05004e;
	margin-left: 5px;
}

.add-member-following:hover {
  cursor: pointer;
  color: #05004e;
  background: #f6f6f6;
  border-radius: 4px;
  box-shadow: 0 1px #333;
}