.congress-status-component {
  border-radius: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f2f2f2;
  box-shadow: 5px 5px #a6a6a6;
  color: #0f4471;
}

.congress-status-component header > h2 {
  color: #f2f2f2;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  width: 100%;
  margin-top: 22px;
  word-wrap: break-word;
}

.bill-filter {
  margin-top: 15px;
  margin-left: 5px;
  width: 150px;
  height: 30px;
  font-size: 16px;
  padding: 10px;
  background: #fff;
  color: #05004e;
  margin-right: 10px;
}

.congress-status-component ul {
  max-height: 550px;
  overflow: scroll;
  border-top: 1px solid #ccc;
  padding-left: 0px;
}

.bill-list li {
  border-bottom: 1px solid #f6f6f6;
}

.bill-list li:last-child {
  border-bottom: none;
}

.bill-info {
  text-align: left;
  padding: 25px;
  padding-top: 30px;
}
.bill-info div {
  padding: 6px;
}

.bill-info b {
  color: #fc3c3c;
}

.bill-sponsor a,
.bill-sponsor p {
  color: #0f4471;
}

.bill-title {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  color: #0f4471;
}

@media only screen and (max-width: 840px) {
  .congress-status-component > header > h2 {
    display: flexbox;
    align-items: center;
    font-size: 18px;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 15px;
    width: 50%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .congress-status-component > header {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 10px;
    width: 75%;
  }
}