#graph {
  /* border: 2px solid #777; */
  border-radius: 2px;
}

#missed-votes-graph-wrapper {
  display: inline-block;
}

rect {
  margin-left: 5px;
}

#repub-key {
  fill: red;
}

#dem-key {
  fill: blue;
}

#ind-key {
<<<<<<< HEAD
  fill: green;
}
=======
  fill: green
}

.tick {
  stroke: #333;
}

.domain { 
  stroke:#fff;
}
>>>>>>> 97057c8c4515b0b5fa765146d31f04452f1a9fde
