#graph {
  /* border: 2px solid #777; */
  border-radius: 2px;
}

#missed-votes-graph-wrapper {
  display: inline-block;
}

#repub-key {
  fill: red;
}

#dem-key {
  fill: blue;
}

#ind-key {
  fill: green
}

.tick {
  stroke: #333;
}

.domain { 
  stroke:#fff;
  stroke-width: 0px;
}

.legend-item {
  margin-right: 5px;
}