#graph {
  border-radius: 2px;
}

#missed-votes-graph-wrapper {
  display: inline-block;
}

#repub-key {
  fill: #d50000;
}

#dem-key {
  fill: #0f4471;
}

#ind-key {
  fill: gray;
}

.tick {
  stroke: #333;
}

.domain {
  stroke: #fff;
  stroke-width: 0px;
}

.legend-item {
  margin-right: 5px;
}

#missed-votes-title {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .legend-item {
    font-size: 14px;
  }
}
