.RegistrationPage {
  text-align: center;
}

#RegistrationForm__full_name, #RegistrationForm__user_name, #RegistrationForm__password {
  width: 200px;
	font-size: 16px;
	padding: 10px;
	border-radius: 4px;
  border: solid 2px #c6c6c6;
  margin-bottom: 10px;
}

#register-submit {
  height: 35px;
  padding: 1px 15px 0px 15px;
	transition-property: background, color, box-shadow, border-radius;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	color: #05004e;
	font-size: 16px;
	font-weight: 400;
	border-radius:  4px;
	background-color: #fff;
}

#register-submit:hover {
  background-color: #05004e;
  color: #fff;
  box-shadow: 0 1px #333;
  border-radius: 6px;
}

@media only screen and (max-width: 480px) {
  #register-submit:hover {
    background: #1daf29;
    color: #fff;
    box-shadow: 0 1px #333;
  }
}