/* .LoginForm__user_name, .LoginForm__password {
  width: 200px;
} */

.LoginPage {
	text-align: center;
}

#login-submit {
	font-size: 16px;
	font-weight: 400;
  border-radius: 5px;
  color: black;
  background-color: transparent;
}