header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background: #0f4471;
  width: 100%;
}

nav {
  width: 100%;
}

.title-container {
  white-space: nowrap;
  display: flex;
  margin-top: 5px;
}

.logo-container {
  margin-left: 4%;
  margin-top: 10px;
  width: 81px;
  margin-top: 10px;
  text-align: center;
}

#logo {
  display: inline-block;
}

header > div > div > img {
  width: 50%;
}

.title {
  text-align: left;
  margin-left: 0;
}

.title > a {
  transition-property: color, text-shadow;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  text-decoration-line: none;
}

.title > a:hover {
  color: #d50000;
}

.title > a > .little {
  font-size: 30px;
}

.logged-in-header > a,
.logged-out-header > a {
  font-size: 18px;
  border-right: 1px solid rgb(61, 94, 158);
  padding: 5px;
}
.logged-out-header > a:last-child {
  border-right: none;
}

.logged-out-header > a:hover {
  background-color: rgb(61, 94, 158);
  border-radius: 5px;
}

.logged-in-header,
.logged-out-header {
  text-align: right;
  margin-right: 5%;
}

#login-button,
#logout-button,
#compare-button,
#register-button {
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  border: none;
}

.compare-button-link {
}

#logout-button {
  margin-left: 5px;
}

#login-button:hover,
#logout-button:hover,
#compare-button:hover,
#register-button:hover {
  cursor: pointer;
}

header a {
  color: #f6f6f6;
}

@media (max-width: 599px) {
  .title > a > .little {
    font-size: 15px;
  }
  .title {
    font-size: 18px;
    margin-top: 4%;
  }
  #login-button,
  #logout-button,
  #compare-button,
  #register-button {
    font-size: 11px;
  }
  .logo-container {
    margin-left: 4%;
    margin-right: 5px;
    margin-top: 5px;
    width: 12%;
    height: 12%;
  }
}

@media (max-width: 800px) {
  /* .logo-container {
    margin-left: 4%;
    margin-right: 5px;
    margin-top: 5px;
    width: 12%;
    height: 12%;
} */
}

@media (max-width: 400px) {
  .compare-button-link {
    display: block;
  }
  #login-button,
  #logout-button,
  #compare-button,
  #register-button {
    box-shadow: none;
  }

  header {
    align-items: inherit;
    padding: 8px 0 8px 0;
  }

  .logo-container {
    margin-left: 5%;
    margin-right: 0px;
    margin-top: 5px;
    width: 14%;
  }
}
