.committees-component {
    border-radius: 5px;
    border: 1px solid #05004e;
    border-radius: 5px;
    background: #0f4471;
    box-shadow: 5px 5px #a6a6a6;
    color: #f6f6f6;
  }
  
  .committees-component > h2 {
    color: #f6f6f6;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
  }
  
  .committees-component ul {
    max-height: 550px;
    overflow: scroll;
    border-top: 1px solid #ccc;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  
  .committee-list li {
    border-bottom: 1px solid #f6f6f6;
  }
  
  .committee-list li:last-child {
    border-bottom: none;
  }
  
  .committee-info {
    text-align: left;
    padding: 25px;
    padding-top: 30px;
  }
  .committee-info div {
    padding: 6px;
  }

  .committee-info > h3 {
    color: #f6f6f6;
  }
  
  .committee-info b {
    color: #fc3c3c;
  }
  
  .committee-chair a, .committee-chair p, .committee-url a{
    color: #f6f6f6;
  }
  