.committees-component {
    border-radius: 5px;
    border: 1px solid #05004e;
    border-radius: 5px;
    background: #f2f2f2 ;
    box-shadow: 5px 5px #a6a6a6;
    color: #0f4471;
  }
  
  .committees-component > header > h2 {
    /* color: #0f4471;*/
    color: #f2f2f2; 
    /* font-family: 'Julius Sans One', sans-serif; */ 
    text-align: center;
    width: 100%;
    margin-top: 22px;
    word-wrap: break-word;
    font-size: 18px;
  }
  
  .committees-component ul {
    max-height: 550px;
    overflow-y: scroll;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  
  .committee-list li {
    border-bottom: 1px solid #0f4471;
  }

  .committee-list li:last-child {
    border-bottom: none;
  }
  
  .committee-info {
    text-align: left;
    padding: 25px;
    padding-top: 30px;
  }
  .committee-info div {
    padding: 6px;
  }

  .committee-info > h3 {
    color: #0f4471;
    font-size: 16px;
  }
  
  .committee-info b {
    color: #D50000;
  }
  
  .committee-chair a, .committee-chair p, .committee-url a{
    color: #0f4471;
  }

@media (min-width: 600px) {
  .committees-component > header > h2 {
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-right: 5%;
    margin-left: 10px; */
    padding: 2%;
    width: 75%;
  }
}

@media only screen and (min-width: 840px) {
  .committees-component > header > h2 {
    display: flexbox;
    align-items: center;
    font-size: 24px;
    margin-top: 15px;
    /* margin-right: 20px;
    margin-left: 15px; */
    width: 50%;
    text-align: center;
  }
}